@font-face {
	font-family: DINPro;
	src: url(../fonts/DINPro-Bold.ttf);
}
@font-face {
	font-family: DINPro;
	src: url(../fonts/DINPro-Light.ttf);
}
@font-face {
	font-family: DINPro;
	src: url(../fonts/DINPro-Regular.ttf);
}
*{
	margin: 0px;
	padding: 0px;
	font-family: DINPro;
	font-weight: 400;
}
.cont{
	width: 85%;
	margin: 0px auto;
}
.clear{
	clear: both;
}
.white{
	color: #fff !important;
}
.white:after{
	background-color: #fff !important;
}
.white:before{
	background-color: #fff !important;
}
p.title{
	color: #000;
	text-transform: uppercase;
	font-size: 34px;
	position: relative;
	display: inline-block;
	margin: 20px auto;
	text-align: center;
	vertical-align: middle; 
	font-weight: bold;
}
p.title:after{
	content: '';
	position: absolute;
	width: 80px;
	height: 3px;
	background: #000;
	left: -100px;
	top: 20px;
}
p.title:before{
	content: '';
	position: absolute;
	width: 80px;
	height: 3px;
	background: #000;
	right: -100px;
	top: 20px;
}
.block{
	text-align: center;
	padding: 40px 0px;
}
header{
	width: 100%;
	height: 755px;
	background-image: url(../img/header.png);
	background-size: cover;
	background-position: center;
}
.h-top{
	padding-top: 10px;
}
.h-top nav{
	float: right;
	margin-right: 30px;
	margin-top: 90px;
}
.h-top li{
	display: inline-block;
	margin-right: 25px;
}
.h-top nav a{
	color: #adadad;
	font-size: 20px;
	font-weight: regular;	
	text-decoration: none;
}
.h-top nav a:hover{
	border-bottom: 1px solid #fff;
	color: #fff;
}
.logo{
	width: 175px;
	height: 128px;
	background-image: url(../img/logo.png);
	background-repeat: no-repeat;
	float: left;
}

.h-right{
	float: right;
}

.h-right .phone{
	font-size: 38px;
	color: #fff;
	font-weight: bold;
	margin-top: 10px;
}

.h-right .phone span{
	font-size: 26px;
}
.h-right .call-open{
	text-decoration: none;
	color: #fff;
	font-weight: bold;
	font-size: 17px;
	border: 3px solid #fff;
	border-radius: 16px;
	padding: 5px 25px;
	padding-left: 40px;
	background-image: url(../img/call.png);
	background-repeat: no-repeat;
	background-position: 12px 8px;
	float: right;
	margin-top: 23px;
}
.h-form{
	width: 480px;
	float: right;
	color: #fff;
	margin-top: 70px;
	margin-right: 20px;
}
.h-form h2, .h-form h3, .h-form h5{
	font-weight: bold;
	text-align: center;
}
.h-form h2{
	font-size: 34px;
}
.h-form h3{
	margin: 25px 0px;
	margin-top: 20px;
	font-size: 32px;
}
.h-form h5{
	font-size: 13px;
	text-transform: uppercase;
}
.h-form input[type=text], .block8 input[type=text], .window input[type=text]{
	width: 80%;
	padding-left: 10px;
	height: 46px;
	border: 1px solid #565653;
	border-radius: 5px;
	margin: 25px auto;
	display: block;
	font-size: 18px;
}
.h-form input[type=submit], .block8 input[type=submit], .window input[type=submit]{
	width: 60%;
	height: 47px;
	display: block;
	margin: 25px auto;
	border: none;
	border-bottom: 4px solid #bda000;
	border-radius: 17px;
	color: #363636;
	font-size: 22px;
	cursor: pointer;
	background: #258dc8; /* Old browsers */
	background: -moz-linear-gradient(top,  #258dc8 0%, #ffd800 0%, #ffd800 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top,  #258dc8 0%,#ffd800 0%,#ffd800 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom,  #258dc8 0%,#ffd800 0%,#ffd800 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#258dc8', endColorstr='#ffd800',GradientType=0 ); /* IE6-9 */

}
.block1{

}
.block1 .bl{
	width: 33.3333333333%;
	background-size: cover;
	background-position: center;
	color: #F7F7F7;
	font-size: 32px;
	text-align: center;
	height: 230px;
	float: left;
	font-weight: regular;
	text-transform: uppercase;
	background-repeat: no-repeat;
}
.block1 .bl p{
	padding-top: 100px;
	text-shadow: 3px 2px 3px rgba(0,0,0,.5);
}
.block1 .bl1{
	background-image: url(../img/block1_bl1.png);
}
.block1 .bl2{
	background-image: url(../img/block1_bl2.png);
}
.block1 .bl3{
	background-image: url(../img/block1_bl3.png);
}

.block2 .text{
	text-align: left;
	margin: 30px auto;
	width: 900px;
	font-size: 22px;
}
.text b{
	font-weight: bold;
}
.text ul{
	margin-left: 40px;
	list-style: none;
}
.text li{
	position: relative;
}
.text ul img{
	width: 20px;
	height: auto;
	position: absolute;
	top: 6px;
	left: -30px;
}
.block3{
	background: #E6E6E6;
}
.block3 .cont{
	margin-top: 50px;
	margin-bottom: 80px;
}
.block3 .bl{
	width: 20%;
	height: 158px;
	background-repeat: no-repeat;
	background-position: center;
	float: left;
	text-transform: uppercase;
	font-size: 17px;
	color: #020202;
	text-align: center;
}
.block3 .bl p{
	margin-top: 180px;
	font-weight: bold;
}
.block3 .bl1{
	background-image: url(../img/block3_bl1.png);
}
.block3 .bl2{
	background-image: url(../img/block3_bl2.png);
}
.block3 .bl3{
	background-image: url(../img/block3_bl3.png);
}
.block3 .bl4{
	background-image: url(../img/block3_bl4.png);
}
.block3 .bl5{
	background-image: url(../img/block3_bl5.png);
}
.block4{
	background: url(../img/block4.png);
	background-size: cover;
	background-position: center;
	height: 700px;
}
.block4 .cont{
	padding-top: 20px;
}
.block4 .bl{
	width: 50%;
	float: left;
	text-align: center;
	color: #fff;
	position: relative;
}
.block4 .bl h3{
	font-size: 36px;
	font-weight: bold;
	text-transform: uppercase;
	margin-top: 30px;
	text-shadow: 3px 2px 3px rgba(0,0,0,.5);
}
.block4 .bl h5{
	font-size: 20px;
	font-weight: bold;
	text-transform: uppercase;
	margin: 10px 0px;
	text-shadow: 3px 2px 3px rgba(0,0,0,.5);
}
.block4 .bl .photo{
	width: 340px;
	height: 340px;
	background-repeat: no-repeat;
	margin: 20px auto;
}
.block4 .bl .photo1{
	background-image: url(../img/block4_bl1.png);
}

.block4 .bl .photo2{
	background-image: url(../img/block4_bl2.png);
}

.block4 .bl p{
	line-height: 26px;
	font-weight: bold;
	margin-top: 20px;
	font-size: 16px;
}
.block4 .bl .next{
	width: 40px;
	height: 68px;
	background-image: url(../img/img_next.png);
	background-repeat: no-repeat;
	position: absolute;
	right: 0px;
	top: 160px;
	transition: 0.2s;
}
.block4 .bl .back{
	width: 40px;
	height: 68px;
	background-image: url(../img/img_back.png);
	background-repeat: no-repeat;
	position: absolute;
	top: 160px;
	left: 0px;
	transition: 0.2s;
}
.block4 .bl .back:hover{
	background-image: url(../img/img_back_hover.png);
	height: 50px;
	top: 170px;
}
.block4 .bl .next:hover{
	background-image: url(../img/img_next_hover.png);
	height: 50px;
	top: 170px;
}
.block5 .cont{
	padding-top: 40px;
}
.block5 .bl1{
	width: 190px;
	margin-right: 30px;
	margin-left: 50px;
	float: left;
}
.block5 .bl1 img{
	width: 165px;
	display: block;
	margin: 0px auto;
	margin-bottom: 20px;
}
.block5 .bl2{
	width: 620px;
	text-align: left;
	padding-top: 20px;
	font-size: 15px;
	float: left;
}

.block5 .next{
	width: 14px;
	height: 28px;
	background-image: url(../img/img2_next.png);
	background-repeat: no-repeat;
	position: absolute;
	right: 30px;
	top: 70px;
	transition: 0.2s;
}
.block5 .back{
	width: 14px;
	height: 28px;
	background-image: url(../img/img2_back.png);
	background-repeat: no-repeat;
	position: absolute;
	left: 30px;
	top: 70px;
	transition: 0.2s;
}
.reviews.show{
	display: block !important;
}
.reviews{
	display: none;
}
.pagination{
	width: 300px;
	margin: 0px auto;
}
.pagination div{
	width: 10px;
	height: 10px;
	background: #787878;
	border-radius: 50%;
	display: inline-block;
	cursor: pointer;
	margin-right: 5px;
}
.pagination div.active{
	background-color: #DD4747;
}
.block6{
	background-image: url(../img/block6.png);
	height: 770px;
}
.block6 .cont{
	padding-top: 130px;
	display: -webkit-box;
  	display: -moz-box;
  	display: -ms-flexbox;
  	display: -webkit-flex;
  	display: flex;
}

.block6 .bl{
	width: 204px;
	border: 2px solid #fff;
	color: #fff;
	margin: auto;
	margin-top: 0px;
	position: relative;
	padding-bottom: 30px;
}
.block6 .bl h2{
	font-size: 30px;
	text-transform: uppercase;
	margin: 35px 0px;
	font-weight: bold;
	line-height: 30px;
}
.block6 .bl .desc{
	line-height: 16px;
}
.block6 .bl .desc span{
	text-transform: uppercase;
}
.block6 .bl .cost{
	font-weight: bold;
	font-size: 26px;
	line-height: 18px;
	padding-bottom: 25px;
}
.block6 .bl .cost b{
	font-size: 56px;
}
.block6 .bl .cost span{
	font-size: 22px;
	margin-top: -10px;
}
.block6 .request{
	display: block;
	width: 208px;
	height: 85px;
	background-image: url(../img/request.png);
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
	position: absolute;
	left: -2px;
}
.block6 .bl1{
	background-color: #48B1E1;
}
.block6 .bl1 .cost{
	margin-top: 20px;
}
.block6 .bl2{
	background-color: #EA442D;
}
.block6 .bl2 .cost{
	margin-top: 60px;
}
.block6 .bl3{
	background-color: #A02D1B;
}
.block6 .bl3 .cost{
	margin-top: 95px;
}
.block6 .bl4{
	background-color: #4F1309;
}
.block6 .bl4 .cost{
	margin-top: 55px;
}
.block6 .bl5{
	background-color: #020609;
}
.block6 .bl5 .cost{
	margin-top: 70px;
}
.block7 .cont{
	padding-top: 10px;
	padding-bottom: 20px;
}
.block7 .bl{
	width: 25%;
	float: left;
}
.block7 .bl h2{
	font-size: 60px;
	font-weight: bold;
}
.block8{
	height: 584px;
	background-image: url(../img/block8.png);
	background-size: cover;
	background-position: center;
}
.block8 form{
	width: 480px;
	float: right;
	color: #fff;
	margin-top: 100px;
	margin-right: 20px;
	text-align: center;
}
.block8 form h2{
	font-size: 36px;
	font-weight: bold;
}
.block8 form input[type=text]{
	border: none;
}



footer{
	background-color: #303B4E;
	height: 360px;
	position: relative;
}
.f-top{
	padding-top: 60px;
}
.f-center{
	text-align: center;
	width: 400px;
	margin: 0px auto;
	color: #fff;
	font-size: 22px;
	margin-top: 20px;
}
.f-center img{
	margin: 5px;
	margin-top: 15px;
}
.f-bottom{
	width: 100%;
	background: #222A3A;
	height: 109px;
	color: #fff;
	line-height: 109px;
	font-size: 22px;
	text-align: center;
	position: absolute;
	bottom: 0px;
}

.windows{
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,.8);
	position: fixed;
	z-index: 100;
	top: 0px;
	left: 0px;
	display: none;
	opacity: 0;
}
.windows div.close{
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0px;
	left: 0px;
}
.windows h2{
	font-size: 40px;
}
.window{
	width: 400px;
	margin: 0px auto;
	background: #ccc;
	border-radius: 5px;
	margin-top: 25vh;
	position: relative;
	display: none;
	opacity: 0;
}
.window p.close{
	width: 25px;
	height: 25px;
	background: #fff;
	line-height: 20px;
	border-radius: 50%;
	font-weight: bold;
	cursor: pointer;
	padding: 0px;
	box-shadow: 0px 0px 10px rgba(0,0,0,.6);
	position: absolute;
	top: -10px;
	right: -10px;
}

@media screen and (max-width: 1240px) {
	.cont{
		width: 95%;
	}
 	.h-top li{
 		margin-right: 13px;
 	}
 	.h-top nav{
 		margin-right: 17px;
 	}
}
@media screen and (max-width: 1140px) {
	.block6{
		display: none;
	}
}
@media screen and (max-width: 1024px) {
	.cont{
		width: 98%;
	}
}